.nb {
	margin: 0;
	margin-top: 25vh;
	padding: 0;
	width: 18%;
	opacity: 90%;
	position: fixed;
	float: left;
	overflow: auto;
	background-color: #f1f1f1;
}

#none {
	background-color: white;
	color: white;
	display: block;
}

div.content {
	margin-left: 18%;
	padding: 2% 2% 2% 2%;
}

@media screen and (max-width: 700px) {
	.nb {
		width: 100%;
		height: auto;
		position: relative;
		margin-top: 0%;
	}
	.nb a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}

	#none {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.nb a {
		text-align: center;
		float: none;
		margin-top: 0%;
	}
	#none {
		display: none;
	}
}

#home,
#about,
#myworks,
#achievements,
#contact {
	display: block;
	font-family: "Merriweather", serif;
	background-color: #f1f1f1;
	color: #000;
	padding-right: 2%;
	padding-left: 2%;
	text-decoration: none;
	font-size: 2vw;
	padding-top: 5%;
	padding-bottom: 5%;
}

#about:hover {
	background-color: #f7931e;
}

#home:hover {
	background-color: gold;
	color: white;
}

#achievements:hover {
	background-color: #9e005d;
	color: white;
}

#myworks:hover {
	background-color: #ed1c24;
	color: white;
}

#contact:hover {
	background-color: #0071bc;
	color: white;
}

#title {
	color: black;
	font-size: 7.8vw;
	font-family: "Dela Gothic One", cursive;
	margin-top: 0px;
	padding: 0px;
	display: inline;
}
#stitle {
	color: black;
	font-size: 3vw;
	font-family: "Lobster", cursive;
	margin-top: 0px;
	padding: 0px;
	display: inline;
}

#matter {
	font-family: "Galdeano", sans-serif;
	color: black;
	font-size: 2.5vw;
	display: block;
	background-color: #f1f1f1;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.15%;
	padding-bottom: 0.15%;
	width: 97%;
	opacity: 90%;
}

#line {
	height: auto;
	width: 35%;
}
